#container1{
  background-image: url('https://c4.wallpaperflare.com/wallpaper/648/16/967/mac-os-x-os-x-big-sur-hd-wallpaper-preview.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 400px;
  margin-top: 200px;
  width:600px;
  height: 300px;
  border-radius:20px ;
}
